.challengeDetails {
	max-width: 1140rem;
	margin: 0 auto;
	padding-top: 53rem;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
  background: #fff;
  text-align: center;
  margin-bottom: 15rem;
	}

.challengeDetails__back {
	font-size: 10rem;
	font-weight: bold;
	text-transform: uppercase;
	color: #4184e2;
	margin-bottom: 44rem;
	}

.challengeDetails__headline {
	font-size: 28rem;
	color: #2d343a;
	font-weight: 300;
	margin-top: 0;
	margin-bottom: 37rem;
	line-height: 1.5;
	}

.challengeDetails__twoItemsDetails {
	margin-bottom: 44rem;
	}

.challengeDetails__join {
	margin-bottom: 44rem;
	}

.challengeDetails__showMore {
	font-family: Montserrat;
	font-weight: bold;
	font-size: 10rem;
	text-transform: uppercase;
	color: #abaeb0;
	padding: 15rem 0;
	border-top: solid 1px #EAEAEB;
	cursor: pointer;
	}

.challengeDetails__showMoreText {
	margin-right: 5rem;
	}

.challengeDetails__allDetails {
	display: block;
	border-top: 1px solid #eaeaeb;
	}

	.challengeDetails__allDetailsHeadline {
		text-align: center;
		color: #2d343a;
		margin-bottom: 37rem;
		}

	.challengeDetails__allDetailsList {
		margin-left: 25rem;
		}

		.challengeDetails__allDetailsListItem {
			list-style-type: disc;
			margin-bottom: 10rem;
			}

	.challengeDetails__allDetailsContent {
		width: 955rem;
		margin: 0 auto;
		text-align: left;
		}

		.challengeDetails__allDetailsRow {
			display: flex;
			flex-wrap: nowrap;
			padding-top: 57rem;
			padding-bottom: 57rem;
			border-bottom: 1px solid #eaeaeb;
			&:last-child {
				border: none;
				}
			}
		.challengeDetails__allDetailsItem {
			width: 100%;
			}
		.challengeDetails__allDetailsItem:not(:last-child) {
			padding-right: 22rem;
			margin-right: 22rem;
			border-right: 1px solid #eaeaeb;
			}