.techItem {
	display: flex;
	margin-bottom: 30rem;
	padding-bottom: 30rem;
	border-bottom: solid 1px #e7e8e8;
	&:last-child {
		border: none;
		}
	}

	.techItem__header {
		display: flex;
		}

	.techItem__main {
		padding-right: 40rem;
		flex-grow: 1;
		}

	.techItem__tag {

		}

	.techItem__headline {
		flex-grow: 1;
		font-size: 19rem;
		font-weight: bold;
		margin-bottom: 10rem;
		}

	.techItem__details {
		font-size: 17rem;
		color: #6a6e72;
		line-height: 1.5;
		}

	.techItem__controls {
		display: flex;
	}

	.techItem__editTech {
		margin-top: 10rem;
		margin-right: 5rem;
		a {
			opacity: 0.8;
			}
		}

	.techItem__deleteTech {
		margin-top: 10rem;
		a {
			color: #ff6262;
			&:hover {
				color: #ff6262;
				opacity: 0.8;
				}
			}
		}

.techItem__thumb {
	width: 100rem; height: auto;
	min-width: 100rem;
	margin-right: 20rem;
	align-self: flex-start;
	img {
		width: 100%;
		height: auto;
		}
	}