.ChallengeScouts {
	width: 318rem;
	background: #fff;
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
	padding: 48rem 48rem 24rem 48rem;
	}

	.ChallengeScouts__headline {
		font-family: Montserrat;
		font-size: 15rem;
		font-weight: bold;
		margin-bottom: 55rem;
		text-transform: uppercase;
		}

	.ChallengeScouts__invite {
		margin-bottom: 48rem;
		align-items: center;
		text-transform: uppercase;
		font: bold 12rem Montserrat;
		}

	.ChallengeScouts__copyright {
		color: #8d9194;
		font-size: 11rem;
		}

	.ChallengeScouts__inviteLink {
		display: flex;
		align-items: center;
		}

.svg-icon--addPeople {
	width: 25rem;	height: 15rem;
	margin-right: 10rem;
	path {
		fill: #4184e2;
	}
	}